@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blue;
    font-size: 25px;
    text-align: left;
    font-weight: 100;
    margin-bottom: 5px;
}
input {
    display: block;
    color: blue;
    margin : auto;
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    border: none;
}
form {
    width: 359px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fline {
    display: inline-block;
    
}
.sline {
    display: inline-block;
}
.tline {
    display: grid;
}
.fcolor {
    background-color: #e8eafe;
}
.scolor {
    background-color: #dde0fd;
}
.tcolor {
    background-color: #c6cafc;
}
.focolor {
    background-color: #a3abfa;
    text-align: top;
    align-items: top;
    justify-content: top;
    height: 60px;
}
#botton {
    background-color: blue;
    color: white;
    font-weight: bold;
    display: block;
    margin: auto;
    border-radius: 50px;
    width: 100px;
    margin-top: 10px;
}